<home-page-header></home-page-header>
<div class="fluid-container" style="text-align:center">
  <div class="row map-header">
    <div class="col-12">
      <h2>- Map -</h2>
    </div>
  </div>
  <div class="scroll-anchor" id="where-to-sing"></div>
  <div class="row sticky-map-container">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <week-day-selector [(selectedDay)]="selectedDay"></week-day-selector>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <events-map
            [events]="weeklyEvents"
            [(selectedEvent)]="selectedEvent"
          ></events-map>
        </div>
      </div>
    </div>
  </div>

  <events-list
    [events]="weeklyEvents"
    [(selectedEvent)]="selectedEvent"
  ></events-list>
</div>