<!-- begin site nav header (imported from a template that uses global js, should be refactored) -->
<nav id="mainNav" 
    class="navbar navbar-default navbar-fixed-top noselect"
    [ngClass]="{
        'affix' : !affixedHeader,
        'affix-top': affixedHeader    
    }"    
>
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <span class="navbar-brand noselect" 
                    (click)="scrollToWhereToSing()" 
                    id="logo-text" 
                    unselectable="true">IndyKaraoke.com</span>
            <button type="button" 
                    class="navbar-toggle collapsed" 
                    (click)="toggleMenu();">
                <span class="sr-only">Toggle navigation</span> Menu
                <i class="fa fa-bars"></i>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="" (click)="goToWhereToSing();">Where to sing</a>
                </li>
                <!--
                <li>
                <a href="../mocks/kjs.html">Karaoke DJs</a>
                </li>
                -->
                <li>
                    <a href="" (click)="goToShareYourVideos();">Share your videos</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- end site nav header -->