<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top noselect" [ngClass]="{
            'sticky': sticky
        }">
        <div class="container-fluid header-content-wrapper">
            <div class="navbar-header">
                <span class="navbar-brand noselect" (click)="goToWhereToSing()" id="logo-text" unselectable="true">IndyKaraoke.com</span>
                <button type="button" class="navmenu collapsed" (click)="toggleMenu();">
                    <span class="sr-only">Toggle navigation</span> Menu
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="navbar-menu" class="navbar-collapse navbar-toggleable-xs" *ngIf="showMenu" [@collapse]>
                <ul class="navbar-nav nav navbar-right" [@collapse]>
                    <li class="nav-item">
                        <a href="" (click)="goToWhereToSing();">Where to sing</a>
                    </li>
                    <li class="nav-item">
                        <a href="" (click)="goToShareYourVideos();">Share your videos</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- end site nav header -->

</div>
