<div class="fluid-container share">
    <div class="row">
        <div class="col-12 header">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            -- Share your videos! --
        </div>
    </div>

</div>